body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    background: linear-gradient(90deg, #3F0071, #FB2576, #332FD0, #0002A1);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s infinite linear alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
